@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: transparent !important;
  color: #111; /* Or your preferred text color */
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 80px;
}

html {
  background-color: #ffffff; /* This is the bottom-most layer */
  scroll-behavior: smooth !important;
  /* Adjust '5rem' (80px) to match the height of your Navbar */
  scroll-padding-top: 5rem;
  cursor: crosshair !important; /* Options: default, crosshair, cell, vertical-text, etc. */
}

a, button {
  cursor: pointer;
}

